In [35]:
import numpy as np
import pandas as pd
import os
import joblib
import sklearn
from sklearn.svm import SVR
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
df = pd.read_csv('../../dataset/flo_dataset.csv')
df

In [ ]:
#Checks if there are any columns with empty cells
df.isna().sum()

# Scaling and Transforming

In [38]:
#Separate initial DataFrame into input and output features (output doesn't get scaled)
df_input = df.drop(columns =['diameter_nm', 'abs_nm', 'emission_nm'], inplace = False, axis = 1)
df_output = df[['diameter_nm', 'abs_nm', 'emission_nm']]

In [39]:
#Checks the column names, and ensures that they do not have any leading or trailing spaces
df_input.columns = df_input.columns.str.strip()
df_output.columns = df_output.columns.str.strip()

In [40]:
df_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   in_source             219 non-null    object
 1   in_amount_mmol        219 non-null    float64
 2   p_source              219 non-null    object
 3   p_amount_mmol         219 non-null    float64
 4   ligand_source         219 non-null    object
 5   ligand_amount_mmol    219 non-null    float64
 6   first_sol             219 non-null    object
 7   first_sol_amount_ml   219 non-null    float64
 8   second_sol            219 non-null    object
 9   second_sol_amount_ml  219 non-null    float64
 10  third_sol             219 non-null    object
 11  third_sol_amount_ml   219 non-null    float64
 12  other_1               219 non-null    object
 13  other_1_amount_mmol   219 non-null    float64
 14  other_2               219 non-null    object
 15  other_2_amount_mmol   219 non-null    float64
 16  total_volume_ml       219 non-null    float64
 17  temp_c                219 non-null    int64
 18  time_min              219 non-null    float64
dtypes: float64(10), int64(1), object(8)
memory usage: 32.6+ KB

In [41]:
#change temp from integer to float
df_input['temp_c'] = df_input['temp_c'].astype(float)
df_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   in_source             219 non-null    object
 1   in_amount_mmol        219 non-null    float64
 2   p_source              219 non-null    object
 3   p_amount_mmol         219 non-null    float64
 4   ligand_source         219 non-null    object
 5   ligand_amount_mmol    219 non-null    float64
 6   first_sol             219 non-null    object
 7   first_sol_amount_ml   219 non-null    float64
 8   second_sol            219 non-null    object
 9   second_sol_amount_ml  219 non-null    float64
 10  third_sol             219 non-null    object
 11  third_sol_amount_ml   219 non-null    float64
 12  other_1               219 non-null    object
 13  other_1_amount_mmol   219 non-null    float64
 14  other_2               219 non-null    object
 15  other_2_amount_mmol   219 non-null    float64
 16  total_volume_ml       219 non-null    float64
 17  temp_c                219 non-null    float64
 18  time_min              219 non-null    float64
dtypes: float64(11), object(8)
memory usage: 32.6+ KB

In [42]:
#Initializes 2 lists to contain all of the numerical and categorical input columns
input_num_cols = [col for col in df_input.columns if df[col].dtypes !='O']
input_cat_cols = [col for col in df_input.columns if df[col].dtypes =='O']

In [63]:
print(input_num_cols, input_cat_cols)

['in_amount_mmol', 'p_amount_mmol', 'ligand_amount_mmol', 'first_sol_amount_ml', 'second_sol_amount_ml', 'third_sol_amount_ml', 'other_1_amount_mmol', 'other_2_amount_mmol', 'total_volume_ml', 'temp_c', 'time_min'] ['in_source', 'p_source', 'ligand_source', 'first_sol', 'second_sol', 'third_sol', 'other_1', 'other_2']

In [44]:
#Initializes the ColumnTransformer object, and specifies what it will do with a dataframe
#scaling numerical columns
#onehotencoder creates a binary column for each categorical entry
ct = ColumnTransformer([
    ('step1', StandardScaler(), input_num_cols),
    ('step2', OneHotEncoder(sparse=False, handle_unknown='ignore'), input_cat_cols)
], remainder = 'passthrough')

In [55]:
#what are the transformers in ct
ct.transformers

[('step1',
  StandardScaler(),
  ['in_amount_mmol',
   'p_amount_mmol',
   'ligand_amount_mmol',
   'first_sol_amount_ml',
   'second_sol_amount_ml',
   'third_sol_amount_ml',
   'other_1_amount_mmol',
   'other_2_amount_mmol',
   'total_volume_ml',
   'temp_c',
   'time_min']),
 ('step2',
  OneHotEncoder(handle_unknown='ignore', sparse=False),
  ['in_source',
   'p_source',
   'ligand_source',
   'first_sol',
   'second_sol',
   'third_sol',
   'other_1',
   'other_2'])]

In [46]:
#Uses the ColumnTransformer object to modify the input columns
df_input_scaled_encoded = pd.DataFrame(ct.fit_transform(df_input))
df_input_scaled_encoded

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,0.154575,-0.011188,-0.247025,-0.673379,-0.370637,-0.096002,0.865472,-0.146249,-0.660116,1.573235,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.195883,0.280681,-0.439228,-0.658075,-0.370637,-0.096002,-0.675365,-0.146249,-0.653603,0.975942,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.423738,-0.412509,-0.439228,-0.655198,-0.370637,-0.096002,0.457150,-0.146249,-0.651010,-0.815937,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,-0.423738,-0.412509,-0.439228,-0.655198,-0.370637,-0.096002,0.457150,-0.146249,-0.651010,-0.218644,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.154575,-0.011188,-0.247025,-0.604513,-0.370637,-0.096002,0.865472,-0.146249,-0.596878,-0.815937,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,0.154575,-0.376755,0.713993,4.491519,-0.370637,-0.096002,-0.675365,-0.146249,4.075133,0.975942,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
215,7.590031,7.504453,-0.439228,5.524499,-0.370637,-0.096002,-0.675365,-0.146249,5.023700,-1.214132,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
216,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
217,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
218,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [47]:
#Number of categorical columns
array_of_cat_titles = ct.transformers_[1][1].get_feature_names()
len(array_of_cat_titles)

65

In [48]:
#Number of numerical columns
len(input_num_cols)

11

In [49]:
#renaming columns
for i in range(len(input_num_cols)):
    df_input_scaled_encoded.rename(columns={df_input_scaled_encoded.columns[i]: input_num_cols[i]}, inplace = True)

for j in range(len(array_of_cat_titles)):
    df_input_scaled_encoded.rename(columns={df_input_scaled_encoded.columns[i+1]: array_of_cat_titles[j]}, inplace = True)
    i = i + 1

In [50]:
df_input_scaled_encoded

,in_amount_mmol,p_amount_mmol,ligand_amount_mmol,first_sol_amount_ml,second_sol_amount_ml,third_sol_amount_ml,other_1_amount_mmol,other_2_amount_mmol,total_volume_ml,temp_c,...,x6_zinc iodide,x6_zinc octanoate,x6_zinc oleate,x6_zinc stearate,x6_zinc undecylenate,x7_None,x7_copper bromide,x7_oleic acid,x7_water,x7_zinc iodide
0,0.154575,-0.011188,-0.247025,-0.673379,-0.370637,-0.096002,0.865472,-0.146249,-0.660116,1.573235,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.195883,0.280681,-0.439228,-0.658075,-0.370637,-0.096002,-0.675365,-0.146249,-0.653603,0.975942,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.423738,-0.412509,-0.439228,-0.655198,-0.370637,-0.096002,0.457150,-0.146249,-0.651010,-0.815937,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,-0.423738,-0.412509,-0.439228,-0.655198,-0.370637,-0.096002,0.457150,-0.146249,-0.651010,-0.218644,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.154575,-0.011188,-0.247025,-0.604513,-0.370637,-0.096002,0.865472,-0.146249,-0.596878,-0.815937,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,0.154575,-0.376755,0.713993,4.491519,-0.370637,-0.096002,-0.675365,-0.146249,4.075133,0.975942,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
215,7.590031,7.504453,-0.439228,5.524499,-0.370637,-0.096002,-0.675365,-0.146249,5.023700,-1.214132,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
216,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
217,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
218,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [51]:
#appends output columns
df_scaled_encoded = pd.concat([df_input_scaled_encoded, df_output], axis = 1)
df_scaled_encoded

,in_amount_mmol,p_amount_mmol,ligand_amount_mmol,first_sol_amount_ml,second_sol_amount_ml,third_sol_amount_ml,other_1_amount_mmol,other_2_amount_mmol,total_volume_ml,temp_c,...,x6_zinc stearate,x6_zinc undecylenate,x7_None,x7_copper bromide,x7_oleic acid,x7_water,x7_zinc iodide,diameter_nm,abs_nm,emission_nm
0,0.154575,-0.011188,-0.247025,-0.673379,-0.370637,-0.096002,0.865472,-0.146249,-0.660116,1.573235,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,None,480,539
1,0.195883,0.280681,-0.439228,-0.658075,-0.370637,-0.096002,-0.675365,-0.146249,-0.653603,0.975942,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.61,610,None
2,-0.423738,-0.412509,-0.439228,-0.655198,-0.370637,-0.096002,0.457150,-0.146249,-0.651010,-0.815937,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,560,595
3,-0.423738,-0.412509,-0.439228,-0.655198,-0.370637,-0.096002,0.457150,-0.146249,-0.651010,-0.218644,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,590,635
4,0.154575,-0.011188,-0.247025,-0.604513,-0.370637,-0.096002,0.865472,-0.146249,-0.596878,-0.815937,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,None,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,0.154575,-0.376755,0.713993,4.491519,-0.370637,-0.096002,-0.675365,-0.146249,4.075133,0.975942,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4,585,630
215,7.590031,7.504453,-0.439228,5.524499,-0.370637,-0.096002,-0.675365,-0.146249,5.023700,-1.214132,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,465,550
216,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,465,None
217,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,None,495,None
218,2.633061,0.718486,4.173657,6.213152,4.521657,-0.096002,-0.675365,-0.146249,6.288457,0.776845,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.7,500,None

In [52]:
df_scaled_encoded.to_csv('flo_dataset_scaled.csv')

# Making separate abs, em and diam datasets

In [66]:
#Saves into a list the row indexes to drop for absorbance dataset
total_row_num = len(df_scaled_encoded)
drop_list_abs =[]
for row_i in range(total_row_num):
    if df_scaled_encoded['abs_nm'].values[row_i] == 'None':
        drop_list_abs.append(row_i)
    
#number of entries
print(total_row_num-len(drop_list_abs))

205

In [57]:
#Drops rows that don't have abs output
df_absorbance_scaled_encoded = df_scaled_encoded.drop(drop_list_abs)
df_absorbance_scaled_encoded.to_csv('dataset_scaled_abs.csv')

In [65]:
#Saves the row indexes to drop for emission dataset
total_row_num = len(df_scaled_encoded)
drop_list_em =[]
for row_i in range(total_row_num):
    if df_scaled_encoded['emission_nm'].values[row_i] == 'None':
        drop_list_em.append(row_i)

#number of entries
print(total_row_num-len(drop_list_em))

85

In [59]:
#Drops rows that don't have emission output
df_emission_scaled_encoded = df_scaled_encoded.drop(drop_list_em)
df_emission_scaled_encoded.to_csv('dataset_scaled_em.csv')

In [67]:
#Saves the row indexes to drop for diameter dataset
total_row_num = len(df_scaled_encoded)
drop_list_diam =[]
for row_i in range(total_row_num):
    if df_scaled_encoded['diameter_nm'].values[row_i] == 'None':
        drop_list_diam.append(row_i)
    
#number of entries
print(total_row_num-len(drop_list_diam))

72

In [61]:
#Drops rows that don't have diameter output
df_diameter_scaled_encoded = df_scaled_encoded.drop(drop_list_diam)
df_diameter_scaled_encoded.to_csv('dataset_scaled_diam.csv')